<nav class="navbar navbar-dark bg-inverse navbar-fixed-top topnav">
	<div class="collapse navbar-toggleable-xs clearfix text-center">
		<a class="navbar-brand" [routerLink]="['/account','/home']">IntelliSoft Employee Management</a>

		<ul
			class="nav navbar-nav top-nav navbar-right pull-xs-right top-right-nav">
		
		
			<li class="dropdown nav-item" dropdown><a href="javascript:;"
				id="single-button" class="nav-link dropdown-toggle" dropdownToggle>
					<i class="fa fa-user"></i> kelvin  <b class="caret"></b>
			</a>
				<ul class="dropdown-menu" aria-labelledby="single-button">
					<li><a class="dropdown-item" href="javascript:;"><i
							class="fa fa-fw fa-user"></i> Profile</a></li>
					<li><a class="dropdown-item" href="javascript:;"
						[routerLink]="['/']"> <i class="fa fa-fw fa-power-off"></i>
							Log Out
					</a></li>
				</ul></li>
		</ul>
	</div>
</nav>