<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
		
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/account/home">
					ALL	Employee</a></li>
				
			</ol>
		</div>
	</div>
	<div class="row">
			<h4>Employee Details </h4>
			<div class="card card-block">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Employer No</th>
								<th>phoneNumber</th>
								<th>Email Address</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let useraccountdetail of useraccount " > 
								<td>{{ useraccountdetail.firstname}}</td>
								<td>{{useraccountdetail.lastname}}</td>
									<td>{{useraccountdetail.id}}</td>
									<td>{{useraccountdetail.phoneNumber}}</td>
										<td>{{useraccountdetail.email}}</td>
							</tr>
							
						</tbody>
					</table>
					
					

					
				</div>
			</div>
		

	
	</div>
</div>