<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/bank-icon-23.jpg" width="150px" class="user-avatar" />
			<h1>Welcome IntelliSoft Employment Management </h1>
			<a class="btn rounded-btn" routerLink="/account/home"> View Account 
				</a> 
				</div>
			
		
		</div>
	</div>
