<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">

			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/account/balance">  Contract DETAIL </a></li>

			</ol>
		</div>
	</div>
	<!--<div class="row">-->
		<!--<div class="col-lg-4 col-lg-offset-4">-->
			<!--<div class="card card-block">-->
				<!--<div class="table-responsive">-->
					<!--<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">-->
						<!--<div class="form-content">-->
							<!--<div class="form-group">-->
								<!--Amount <input type="number"-->
									<!--class="form-control input-underline input-lg"-->
									<!--placeholder="Enter Amount in $ to deposit " name="amount"-->
									<!--required="true" ngModel>-->
							<!--</div>-->
							<!--<div class="form-group">-->
								<!--Description <input type="text"-->
									<!--class="form-control input-underline input-lg"-->
									<!--placeholder="Enter transaction description " name="note"-->
									<!--ngModel>-->
							<!--</div>-->
						<!--</div>-->
						<!--<button type="submit" [disabled]="!userForm.form.valid"-->
							<!--class="btn rounded-btn">Deposit</button>-->
					<!--</form>-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->



	<!--</div>-->
</div>