<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Forms</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/setting">Limit Setting</a>
				</li>
				<li class="active"><i class="fa fa-edit"></i> Forms</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
	
		
	</div>
	<!-- /.row -->

</div>