<button class="btn btn-default" id="toggle-sidebar" type="button"
	(click)="eventCalled()">&#9776;</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a routerLink="/account/home"
			[routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-dashboard"></i> Dashboard
		</a>
		<a [routerLink]="['balance']"
			[routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-bar-chart-o"></i> Employee Detail
		</a>
		
		<a [routerLink]="['deposit']"
			[routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-table"></i> Contract Detail
		</a>
		<a [routerLink]="['withdrawal']"
			[routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-file-o"></i> Edit Employee
		</a>
		<a [routerLink]="['setting']"
			[routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-edit"></i> Setting
		</a>
		
	
		
	
		
		
	</ul>
</nav>